<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Productor</label>
            <select name="nombre" class="form-control">
                <option value="" style="display: none;">Seleccione una opcion...</option>
                <option value="1">Productor 1</option>
                <option value="2">Productor 2</option>
                <option value="3">Productor 3</option>
            </select>
            <div class="invalid-feedback">Este campo es obligatorio</div>
        </div>
        <hr>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Registro de ficha de auditoria</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item lista-ficha d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>1. Condiciones Generales</h6>
                            </div>
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="row">
                                            <div class="col-md-12">1.1. Contrato y/o Acuerdo de Cumplimiento para con la certificadora ecológica</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>  
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.2. Croquis/planos de las instalaciones y equipos para el acopio/procesamiento/comercio de productos orgánicos </div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.3. Flujograma del acopio/procesamiento/comercio ecológico</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.4 Copia de legislación relevante y relativa al acopio/procesamiento/comercio de productos orgánicos</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item lista-ficha d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>1. Condiciones Generales</h6>
                            </div>
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="row">
                                            <div class="col-md-12">1.1. Contrato y/o Acuerdo de Cumplimiento para con la certificadora ecológica</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>  
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.2. Croquis/planos de las instalaciones y equipos para el acopio/procesamiento/comercio de productos orgánicos </div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.3. Flujograma del acopio/procesamiento/comercio ecológico</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.4 Copia de legislación relevante y relativa al acopio/procesamiento/comercio de productos orgánicos</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item lista-ficha d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>1. Condiciones Generales</h6>
                            </div>
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="row">
                                            <div class="col-md-12">1.1. Contrato y/o Acuerdo de Cumplimiento para con la certificadora ecológica</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>  
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.2. Croquis/planos de las instalaciones y equipos para el acopio/procesamiento/comercio de productos orgánicos </div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.3. Flujograma del acopio/procesamiento/comercio ecológico</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">                                        
                                        <div class="row">
                                            <div class="col-md-12">1.4 Copia de legislación relevante y relativa al acopio/procesamiento/comercio de productos orgánicos</div>
                                            <div class="col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio1">NO</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="NO">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio2">SI</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SI">
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="inlineRadio3">N/A</label>
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="N/A">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>


                    
                </ul>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button class="btn btn-outline-success">Guardar</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancelar</button>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

