<div class="sidebar-wrapper">
  <ul class="nav">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/']">
        <i class="nc-icon nc-bank"></i>
        <p>Panel</p>
      </a>
    </li>
    <!-- Usuario admin-->
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/usuarioConsulta']">
        <i class="nc-icon nc-single-02"></i>
        <p>Usuarios - (A)</p>
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/productorConsulta']">
        <i class="nc-icon nc-bank"></i>
        <p>Productores - (A)</p>
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/formatoAuditoriaConsulta']">
        <i class="nc-icon nc-bank"></i>
        <p>Formato Fic. Aud. Int. - (A)</p>
      </a> 
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/cultivoConsulta']">
        <i class="nc-icon nc-bank"></i>
        <p>Cultivos - (A)</p>
      </a>
    </li>
    <!-- Fin Usuario admin-->
    <!--Usuario tecnico-->
    <!--<li [routerLinkActive]="['active']">
      <a [routerLink]="['/fichaDiagnosticoConsulta']">
        <i class="nc-icon nc-bank"></i>
        <p>Ficha Diagnostico - (T)</p>
      </a>
    </li>-->
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/fichaAuditoriaRegistro']">
        <i class="nc-icon nc-bank"></i>
        <p>Registrar Fic. Aud. Int. - (T)</p>
      </a>
    </li>
    <!-- Fin Usuario tecnico-->
  </ul>
</div>